<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  lang="id"
>
  <head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- Icon -->
    <link rel="icon" th:href="@{/assets/images/logo.png}" type="image/x-icon" />

    <!-- Judul -->
    <title layout:title-pattern="$CONTENT_TITLE">Spring Boot Todolist</title>

    <!-- Styles -->
    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/bootstrap-5.3.8-dist/css/bootstrap.min.css}"
    />

    <link
      rel="stylesheet"
      th:href="@{/assets/vendor/sweetalert2/dist/sweetalert2.min.css}"
    />

    <!-- Slot untuk CSS tambahan -->
    <th:block layout:fragment="others-css"></th:block>
  </head>

  <body class="bg-light">
    <!-- Slot untuk konten -->
    <div layout:fragment="content" class="container-fluid">
      <!-- Konten akan diisi oleh child templates -->
    </div>

    <!-- Bootstrap -->
    <script
      th:src="@{/assets/vendor/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js}"
    ></script>

    <!-- SweetAlert2 -->
    <script
      th:src="@{/assets/vendor/sweetalert2/dist/sweetalert2.all.min.js}"
    ></script>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        /* Ambil pesan sukses dari thymeleaf */
        const successMessage = "[[${success}]]";
        if (successMessage && successMessage.length > 5) {
          Swal.fire({
            icon: "success",
            title: "Berhasil Melakukan Tindakan",
            text: successMessage,
            showConfirmButton: true,
          });
        }

        /* Ambil pesan error dari thymeleaf */
        const errorMessage = "[[${error}]]";
        if (errorMessage && errorMessage.length > 5) {
          Swal.fire({
            icon: "error",
            title: "Gagal Melakukan Tindakan",
            text: errorMessage,
            showConfirmButton: true,
          });
        }
      });
    </script>

    <!-- Slot untuk JavaScript tambahan -->
    <th:block layout:fragment="others-js"></th:block>
  </body>
</html>
