<div th:fragment="deleteTodoModal">
  <form th:action="@{/todos/delete}" method="post" th:object="${todoForm}">
    <div class="modal fade" id="deleteTodoModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Hapus Todo</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
            ></button>
          </div>

          <div class="modal-body">
            <div class="alert alert-danger">
              Apakah kamu yakin ingin menghapus todo dengan judul
              <strong id="deleteTodoTitle">Todo Title</strong>&nbsp;?
            </div>

            <!-- Hidden ID Todo -->
            <input id="deleteTodoId" type="hidden" th:field="*{id}" />

            <div class="mb-3">
              <label for="deleteTodoConfirmTitle" class="form-label"
                >Konfirmasi Judul</label
              >
              <input
                id="deleteTodoConfirmTitle"
                type="text"
                class="form-control"
                th:field="*{confirmTitle}"
              />

              <div
                class="text-danger"
                th:if="${#fields.hasErrors('confirmTitle')}"
                th:errors="*{confirmTitle}"
              ></div>
            </div>
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Batal
            </button>
            <button type="submit" class="btn btn-danger">
              Lanjutkan, Hapus
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
