<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/base}"
  lang="id"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spring Boot Todolist</title>
  </head>
  <body>
    <div layout:fragment="content" class="mt-3">
      <div class="card">
        <div class="card-header d-flex">
          <div class="flex-fill">
            <h3>Hay, [[${auth.name}]]</h3>
          </div>
          <div>
            <div>
              <a th:href="@{/auth/logout}" class="btn btn-sm btn-danger"
                >Keluar</a
              >
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="d-flex mb-2">
            <div class="flex-fill">
              <h3>Daftar Todo List</h3>
            </div>
            <div>
              <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#addTodoModal"
              >
                Tambah Todo
              </button>
            </div>
          </div>
          <table class="table table-striped">
            <tr class="table-light">
              <th>No</th>
              <th>Judul</th>
              <th>Dibuat pada</th>
              <th>Diubah pada</th>
              <th>Status</th>
              <th>Tindakan</th>
            </tr>

            <tr th:each="todo, status : ${todos}">
              <td th:text="${status.index + 1}"></td>
              <td th:text="${todo.title}"></td>
              <td
                th:text="${#temporals.format(todo.createdAt, 'd MMMM yyyy, HH:mm')}"
              ></td>
              <td
                th:text="${#temporals.format(todo.updatedAt, 'd MMMM yyyy, HH:mm')}"
              ></td>
              <td>
                <span th:if="${todo.finished}" class="badge bg-success"
                  >Selesai</span
                >
                <span th:unless="${todo.finished}" class="badge bg-danger"
                  >Belum selesai</span
                >
              </td>
              <td>
                <a
                  th:href="@{/todos/{todoId}(todoId=${todo.id})}"
                  class="btn btn-sm btn-info"
                >
                  Detail
                </a>
                <button
                  th:id="|editTodoButton_${todo.id}|"
                  th:attr="onclick=|prepareEditTodo(`${todo.id}`, `${todo.title}`, `${todo.description}`, ${todo.finished})|"
                  class="btn btn-sm btn-warning"
                >
                  Edit
                </button>
                <button
                  th:id="|deleteTodoButton_${todo.id}|"
                  th:attr="onclick=|prepareDeleteTodo(`${todo.id}`, `${todo.title}`)|"
                  class="btn btn-sm btn-danger"
                >
                  Hapus
                </button>
              </td>
            </tr>
            <tr th:if="${#lists.isEmpty(todos)}">
              <td colspan="6" class="text-center">
                Belum ada data todo yang tersedia.
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- Modals -->
      <div th:replace="~{models/todos/add :: addTodoModal}"></div>
      <div th:replace="~{models/todos/edit :: editTodoModal}"></div>
      <div th:replace="~{models/todos/delete :: deleteTodoModal}"></div>
    </div>

    <!-- Scripts -->
    <script layout:fragment="others-js">
      function prepareEditTodo(id, title, description, finished) {
        /* Set nilai pada form edit */
        document.getElementById("editTodoId").value = id;
        document.getElementById("editTodoTitle").value = title;
        document.getElementById("editTodoDescription").value = description;
        document.getElementById("editTodoFinished").value = finished
          ? "1"
          : "0";

        /* Tampilkan modal */
        var editModal = new bootstrap.Modal(
          document.getElementById("editTodoModal")
        );
        editModal.show();
      }

      function prepareDeleteTodo(id, title) {
        /* Set nilai pada form delete */
        document.getElementById("deleteTodoId").value = id;
        document.getElementById("deleteTodoTitle").innerText = title;

        /* Tampilkan modal */
        var deleteModal = new bootstrap.Modal(
          document.getElementById("deleteTodoModal")
        );
        deleteModal.show();
      }

      document.addEventListener("DOMContentLoaded", function () {
        /* Cek apakah modal add perlu dibuka otomatis */
        var addTodoModalOpen = "[[${addTodoModalOpen}]]" === "true";
        if (addTodoModalOpen) {
          var addModal = new bootstrap.Modal(
            document.getElementById("addTodoModal")
          );
          addModal.show();
        }

        /* Cek apakah modal edit perlu dibuka otomatis */
        var editTodoModalOpen = "[[${editTodoModalOpen}]]" === "true";
        if (editTodoModalOpen) {
          const editTodoModalId = "[[${editTodoModalId}]]";
          const buttonEdit = document.getElementById(
            `editTodoButton_${editTodoModalId}`
          );
          if (buttonEdit) {
            buttonEdit.click();
          }
        }

        /* Cek apakah modal delete perlu dibuka otomatis */
        var deleteTodoModalOpen = "[[${deleteTodoModalOpen}]]" === "true";
        if (deleteTodoModalOpen) {
          const deleteTodoModalId = "[[${deleteTodoModalId}]]";
          const buttonDelete = document.getElementById(
            `deleteTodoButton_${deleteTodoModalId}`
          );
          if (buttonDelete) {
            buttonDelete.click();
          }
        }
      });
    </script>
  </body>
</html>
